@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --Mellow-Apricot: #FFBF69;
    --Water: #CBF3F0;
    --Dark-Charcoal: #333333;
    /**fonts*/
    --overall-fontsize: 62.5%
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: var(--overall-fontsize) /**16px * 0.625 = 10px conversion en base 10 */
}

body {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}
/**Header*/
.header {
    background-color: var(--Mellow-Apricot);
}

.navbar {
    display: flex;
    align-items: center;
    height: 8rem;
}

.navbar__rigth {
    flex-grow: 1;
}
.logo-site {
    text-decoration: none;
    font-size: 2rem;
    color: var(--Dark-Charcoal);
    font-weight: bold;
}
.menu-navegation {
    display: flex;
    gap: 3rem;
    justify-content: end;
    list-style: none;
    font-size: 1.7rem;
    font-weight: bold;
}
.menu-navegation li {
    display: none;
}
.link {
    text-decoration: none;
    color: var(--Dark-Charcoal);
}



/**Propiedades de los container*/
.container {
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}


/**Media Queries*/
@media (min-width: 567px) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
}
@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
    /**Header*/
    .navbar__rigth {
        flex-grow: 1;
    }
    .menu-navegation li {
        display: block
    }
    .icon-hamburger {
        display: none;
    }
}
@media ( min-width: 992px ) {
    .container {
        max-width: 98rem;
        padding: 0 3.2rem;
    }
}
@media ( min-width: 1200px ) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}